<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <application
        android:name=".DongmanApp"
        android:allowBackup="true"
        android:icon="@drawable/dongman_icon"
        android:label="동만이"
        android:roundIcon="@drawable/dongman_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dongman"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAi4rigzrvEJZf6dx6igMnnLt81YcfrcE" />

        <activity
            android:name=".IntroActivity"
            android:exported="true"
            tools:ignore="ExtraText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".DetailActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".SignupActivity" android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <activity android:name=".InterestActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".EditProfileActivity" android:exported="false" />
        <activity android:name=".ChatActivity" android:exported="false" />

        <activity android:name=".PostWriteActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".BoardActivity" android:exported="false" />
        <activity android:name=".NotificationSettingsActivity" android:exported="false" />
        <activity android:name=".RecentActivity" />
        <activity android:name=".MapActivity" android:exported="false" />
        <activity android:name=".MyPostsActivity" android:exported="false" />
        <activity android:name=".WriteBoardActivity" android:exported="false" />
        <activity android:name=".PostDetailActivity" android:exported="false"/>
        <activity android:name=".MyChatListActivity" android:exported="false"/>
    </application>
</manifest>